<template name="userList">

  <section class="content-header">
    <h1>
      Users
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'dashboard'}}"><i class="fa fa-home"></i> Home</a></li>
      <li>Administration</li>
      <li class="active">Users</li>
    </ol>
  </section>

  <section class="content">
  <div class="box box-success">
    <div class="box-header with-border">
        <button class="btn btn-xs btn-info pull-right btnAddNew"><i class="fas fa-plus"></i> Add</button>

        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>User Name</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email Address</th>
              <th>User Group</th>
              <th>Active User</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#if newUser}}
              <tr>
                <td>
                  <input class="form-control" type="text" name="userName" />
                </td>

                <td>
                  <input class="form-control" type="text" name="firstName" />
                </td>

                <td>
                  <input class="form-control" type="text" name="lastName" />
                </td>

                <td>
                  <input class="form-control" type="text" name="emailAddress" />
                </td>

                <td>
                  <select class="form-control" id="userGroup" name="userGroup">
                    {{#each userGroupTypes}}
                      <option>{{name}}</option>
                      {{/each}}
                  </select>
                </td>

                <td>
                  {{#if newActiveUser}}
                  <button class="btn btn-xs btn-success btnActiveUser"><i class="fa fa-check"></i></button>
                  {{else}}
                  <button class="btn btn-xs btn-danger btnInactiveUser"><i class="fa fa-times"></i></button>
                  {{/if}}
                </td>

                <td>
                  <button class="btn btn-xs btn-success btnSaveAddNew"><i class="fa fa-check"></i></button>
                  <button class="btn btn-xs btn-danger btnCancelAddNew"><i class="fa fa-times"></i></button>
                </td>
              </tr>
            {{/if}}

      {{#each allUsers}}
        {{> userItem}}
      {{/each}}
    </tbody>
    </table>

    </div>

</div>
</section>
</template>
