<template name="header">

  <!-- Main Header -->

  {{#if headingVisible}}
  <header class="main-header">

    <a href="#" class="logo">
      <span class="logo-mini"><b>G</b>KPI</span>
      <span class="logo-lg"><b>Green</b>KPI</span>
    </a>

  <!--  <a href="" class="logo"></a> -->
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="nav navbar-nav">
        <li>
          <button class="btn {{energyButtonState}} btn-lg btn-flat btnEnergy"><i class="fas fa-bolt"></i> Energy</button>
        </li>

        <li>
          <button class="btn {{waterButtonState}} btn-lg btn-flat btnWater"><i class="fas fa-tint"></i> Water</button>
        </li>

        <li>
          <button class="btn {{wasteButtonState}} btn-lg btn-flat btnWaste"><i class="far fa-trash-alt"></i> Waste</button>
        </li>
      </div>
      <!-- Navbar Right Menu -->



      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li>
            <a href="#" class="btn btn-warning btn-sm btnFeedback" data-toggle="modal" data-target="#feedbackModel"><i class="fas fa-comments"></i></a>
          </li>
          <li>
            <a href="#" class="btn btn-primary btn-sm btnSettings"><i class="fas fa-cog"></i> Settings</a>
          </li>

          <li>
            <a href="#" class="btn btn-danger btn-sm btnLogout"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  {{/if}}

<div class="modal" tabindex="-1" role="dialog" id="feedbackModel" name="feedbackModel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Feedback</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your feedback is important, as it helps us improve</p>
        <label for="feedbackEmail">Email</label>
        <input type="email" class="form-control" name="feedbackEmail" />
        <label for="feedbackText">Feedback</label>
        <textarea class="form-control" name="feedbackText" id="feedbackText"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btnSaveFeedback" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
</template>
