<template name="header">

  <!-- Main Header -->

  {{#if headingVisible}}
  <header class="main-header">

    <a href="#" class="logo">
      <span class="logo-mini"><b>G</b>KPI</span>
      <span class="logo-lg"><b>Green</b>KPI</span>
    </a>

  <!--  <a href="" class="logo"></a> -->
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="nav navbar-nav">
        <li>
          <button class="btn {{energyButtonState}} btn-lg btn-flat btnEnergy"><i class="fas fa-bolt"></i> Energy</button>
        </li>

        <li>
          <button class="btn {{waterButtonState}} btn-lg btn-flat btnWater"><i class="fas fa-tint"></i> Water</button>
        </li>

        <li>
          <button class="btn {{wasteButtonState}} btn-lg btn-flat btnWaste"><i class="far fa-trash-alt"></i> Waste</button>
        </li>
      </div>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li>
            <a href="#" class="btn btn-danger btn-sm btnLogout"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  {{/if}}
  <!--
  <nav class="navbar navbar-default navbar-expand" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="logo.png" class="navbar-brand"/>
      <a class="navbar-brand" href="{{pathFor 'home'}}">Green KPI</a>
    </div>

    {{#if currentUser}}
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor 'myActionList'}}" class="navbar-link">
          My Actions {{{isCurrentMenu 'ACTIONS'}}}
            {{#if incompleteActions}}
              <span class="badge">
              {{actionCount}}
              </span>
            {{/if}}
          </a></li>

          <li><a href="{{pathFor 'actionList'}}" class="navbar-link">My Plan {{{isCurrentMenu 'PLAN'}}}</a></li>

          <li><a href="{{pathFor 'sms'}}" class="navbar-link">SMS {{{isCurrentMenu 'SMS'}}}</a></li>
          <li><a href="{{pathFor 'intents'}}" class="navbar-link">My Intent {{{isCurrentMenu 'INTENTS'}}}</a></li>
          <li><a href="{{pathFor 'reports'}}" class="navbar-link">Reports {{{isCurrentMenu 'REPORTS'}}}</a></li>

          {{#if isAdminRole}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Setup</a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
              <li><a class="dropdown-item" href="{{pathFor 'userList'}}">Users</a></li>
              <li><a class="dropdown-item" href="{{pathFor 'referenceDataList'}}">Reference Data</a></li>
            </div>
          </li>
          {{/if}}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <div class="btn-toolbar">
          <button type="button" class="btn btn-primary btnSettings"><i class="fa fa-cog"></i></button>

          <button type="button" class="btn btn-info">Change Password</button>
          <button type="button" class="btn btn-danger btnLogout">Logout {{currentUserName}}</button>
        </div>
      </ul>
    </div>
    {{/if}}
  </nav>
-->

</template>
