<template name="home">

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4 col-sm-4">
      <div class="card">
        <img class="card-img-top" src="measure.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Measure your Impact</h5>
          <p class="card-text">Do you want to baseline your Energy to measure your impact?</p>
          <div align="center"><a href="{{pathFor 'sms'}}" class="btn btn-primary"><i class="fa fa-sign-in fa-2x"></i></a></div>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-4 col-sm-4">
      <div class="card">
        <img class="card-img-top" src="save_energy.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Energy Reduction Plan</h5>
          <p class="card-text">Are you ready to start your Energy Reduction Action Plans?</p>
          <div align="center"><a href="{{pathFor 'actionList'}}" class="btn btn-primary"><i class="fa fa-sign-in fa-2x"></i></a></div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>

  </div>

</template>
