<template name="layout">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<!--    <div class="wrapper fixed {{sidebarVisible}}"> -->
  <div class="wrapper fixed">

<!--      {{#AdminLTE skin="green" sidebarMini="true" fixed="true"}} -->
      {{> header}}
      {{> sAlert}}

      {{> sideMenu}}

      <div id="main" class="{{contentStyle}}">
        <div class="content">
        {{> yield}}
      </div>
      </div>

      <ReactTooltip type="dark" place="bottom" effect="solid"></ReactTooltip>
      <!-- your html here -->
<!--    {{/AdminLTE}} -->
  </div>
</template>
