<template name="pricing">
  <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
                <div class="pricingTable-header">
                    <h3 class="heading">Free Trial</h3>
                    <span class="price-value">
                        <span class="currency">$</span> FREE
                    </span>
                    <div class="pricingTable-footer">1 Month</div>
                </div>
                <div class="pricing-content">
                    <ul>
                        <li>Unlimited Metrics</li>
                        <li>Single User</li>
                        <li>Email Reminders</li>
                        <li>Operational Reports</li>
                        <li>Sustainability Report Generation</li>
                    </ul>
                    <a href="{{pathFor 'signup'}}" class="read">sign up</a>
                </div>
            </div>
        </div>

          <div class="col-md-3 col-sm-6">
              <div class="pricingTable">
                  <div class="pricingTable-header">
                      <h3 class="heading">Standard</h3>
                      <span class="price-value">
                          <span class="currency">$</span> 20
                      </span>
                      <div class="pricingTable-footer">MONTHLY</div>
                  </div>
                  <div class="pricing-content">
                      <ul>
                        <li>Unlimited Metrics</li>
                        <li>Up to 5 users</li>
                        <li>Email Reminders</li>
                        <li>Operational Reports</li>
                        <li>Sustainability Report Generation</li>
                      </ul>
                      <a href="{{pathFor 'signup'}}" class="read">sign up</a>
                  </div>
              </div>
          </div>

          <div class="col-md-3 col-sm-6">
              <div class="pricingTable">
                  <div class="pricingTable-header">
                      <h3 class="heading">Integrated</h3>
                      <span class="price-value">
                          <span class="currency">$</span> 30
                      </span>
                      <div class="pricingTable-footer">MONTHLY</div>
                  </div>
                  <div class="pricing-content">
                      <ul>
                        <li>Unlimited Metrics</li>
                        <li>Up to 5 users</li>
                        <li>Email Reminders</li>
                        <li>Operational Reports</li>
                        <li>Sustainability Report Generation</li>
                        <li>Xero Integration</li>
                      </ul>
                      <a href="{{pathFor 'signup'}}" class="read">sign up</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>
