<template name="settings">
  <div class="panel panel-primary">
    <div class="panel-heading">
      General Settings
      <button class="btn btn-xs btn-info pull-right btnSaveGeneral">Save</button>
    </div>
    <div class="panel-body">
      <form>
        <fieldset>
          <legend>My Details</legend>
          <div class="form-group row">
            <label for="myName" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="myName" id="myName" value="{{myName}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="myEmail" class="col-sm-3 col-form-label">Email address</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" name="myEmail" id="myEmail" aria-describedby="emailHelp" placeholder="Enter email" value="{{myEmail}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="myPasswd" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="myPasswd" id="myPasswd" placeholder="Password">
            </div>
          </div>

          <div class="form-group row">
            <label for="myPasswdConfirm" class="col-sm-3 col-form-label">Confirm Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="myPasswdConfirm" placeholder="Password">
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>

<!--
  <div class="panel panel-primary">
    <div class="panel-heading">
      Account Settings
      <button class="btn btn-xs btn-info pull-right btnSaveAccount">Save</button>
    </div>

      </div>
-->
<!--
  <div class="panel panel-primary">
    <div class="panel-heading">
      Subscription Settings
      <button class="btn btn-xs btn-info pull-right btnSaveSubscription">Save</button>
    </div>
    <div class="panel-body">
</div>

</div>
-->

</template>
