<template name="sideMenu">
<aside class="{{sidebarState}} fixed">
  <div class="hidden">{{loggedIn}}</div>
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    {{#if isSidebarFull}}
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left">
        {{#if imageProfile}}
          <img src="{{profileImage}}" class="img-logo-tiny" />
        {{else}}
<!--          <i class="fas fa-user fa-3x text-gray"></i> -->
        {{/if}}
      </div>
      <div class="pull-left info">
        <p>{{currentUserName}}</p>
        <!-- Status -->
        <a href="#">{{organisationName}}</a>
      </div>
    </div>
    {{/if}}

<!--
    {{#if isSidebarFull}}
      <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    {{/if}}
-->

    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">

      {{#if isSidebarFull}}
      <li class="header">MAIN</li>
      {{/if}}
      <li class="{{isCurrentMenu 'HOME'}}">
        {{#if isSidebarFull}}
        <a href="{{pathFor 'dashboard'}}"><i class="fas fa-table"></i> Dashboard</a>
        {{else}}
        <a href="{{pathFor 'dashboard'}}"><i class="fas fa-table fa-2x"></i></a>
        {{/if}}
      </li>
      <li class="{{isCurrentMenu 'SMS'}}">
        {{#if isSidebarFull}}<a href="{{pathFor 'sms'}}"><i class="fas fa-calculator"></i> Measure</a>
        {{else}}
        <a href="{{pathFor 'sms'}}"><i class="fas fa-calculator fa-2x"></i></a>
        {{/if}}
      </li>
<!--      <li class="{{isCurrentMenu 'PROFILE'}}"><a href="{{pathFor 'profileItem'}}"><i class="fas fa-chart-pie"></i> My Profile</a></li> -->
      <li class="{{isCurrentMenu 'INTENTS'}}">
        {{#if isSidebarFull}}<a href="{{pathFor 'intents'}}"><i class="fas fa-arrow-circle-down"></i> Manage</a>
        {{else}}
        <a href="{{pathFor 'intents'}}"><i class="fas fa-arrow-circle-down fa-2x"></i></a>
        {{/if}}
      </li>
      <li class="{{isCurrentMenu 'PLAN'}}">
        {{#if isSidebarFull}}
        <a href="{{pathFor 'plan'}}"><i class="fas fa-bullseye"></i> Plan</a>
        {{else}}
        <a href="{{pathFor 'plan'}}"><i class="fas fa-bullseye fa-2x"></i></a>
        {{/if}}
      </li>
      <li class="{{isCurrentMenu 'REPORTS'}}">{{#if isSidebarFull}}<a href="{{pathFor 'reports'}}"><i class="far fa-chart-bar"></i> Report</a>{{else}}<a href="{{pathFor 'reports'}}"><i class="far fa-chart-bar fa-2x"></i></a>{{/if}}</li>

      {{#if isSidebarFull}}
      <li class="header">SETTINGS</li>
      {{/if}}
      <li class="{{isCurrentMenu 'ORGANISATION'}}">
        {{#if isSidebarFull}}
        <a href="{{pathFor 'organisation'}}"><i class="far fa-building"></i> My Organisation</a>
        {{else}}
        <a href="{{pathFor 'organisation'}}"><i class="far fa-building fa-2x"></i></a>
        {{/if}}
      </li>

<!--
      <li class="{{isCurrentMenu 'STAFF'}}">
        {{#if isSidebarFull}}
        <a href="{{pathFor 'staffList'}}"><i class="fas fa-user"></i> Staff Details</a>
        {{else}}
        <a href="{{pathFor 'staffList'}}"><i class="fas fa-user fa-2x"></i></a>
        {{/if}}
      </li>
-->
      {{#if isAdminRole}}

      {{#if isSidebarFull}}
      <li class="header">ADMINISTRATION</li>
      {{/if}}
      <li class="{{isCurrentMenu 'USERS'}}">
        {{#if isSidebarFull}}<a href="{{pathFor 'userList'}}"><i class="fas fa-users"></i> Users</a>
        {{else}}<a href="{{pathFor 'userList'}}"><i class="fas fa-users fa-2x"></i></a>
        {{/if}}
      </li>
      <li class="{{isCurrentMenu 'REFDATA'}}">
        {{#if isSidebarFull}}
        <a href="{{pathFor 'referenceDataList'}}"><i class="fas fa-bars"></i> Reference Data</a>
        {{else}}
        <a href="{{pathFor 'referenceDataList'}}"><i class="fas fa-bars fa-2x"></i></a>
        {{/if}}
      </li>
      <li class="{{isCurrentMenu 'FEEDBACK'}}">
        {{#if isSidebarFull}}
        <a href="{{pathFor 'feedbackList'}}"><i class="fas fa-comments"></i> Feedback</a>
        {{else}}
        <a href="{{pathFor 'feedbackList'}}"><i class="fas fa-comments fa-2x"></i></a>
        {{/if}}
      </li>
      <li class="{{isCurrentMenu 'ADMINSETTINGS'}}">
        {{#if isSidebarFull}}
        <a href="{{pathFor 'adminSettings'}}"><i class="fa fa-cog"></i> Administrative Settings</a>
        {{else}}
        <a href="{{pathFor 'adminSettings'}}"><i class="fa fa-cog fa-2x"></i></a>
        {{/if}}
      </li>
      <li class="{{isCurrentMenu 'ACTIONSETUP'}}">
        {{#if isSidebarFull}}
        <a href="{{pathFor 'actionSetupList'}}"><i class="fas fa-list-ol"></i> Action Items Setup</a>
        {{else}}
        <a href="{{pathFor 'actionSetupList'}}"><i class="fas fa-list-ol fa-2x"></i></a>
        {{/if}}
      </li>

      {{/if}}

    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
</template>
