<template name="categoryUseItem">
  <tr>
    <td>{{categoryCode}}</td>
    <td>{{subCategoryCode}}</td>
    <td>
      {{#if isInUse}}
        <button data-toggle="tooltip" title="Click to remove the use of this energy item" class="btn btn-xs btnRemoveFromUse btn-success"><i class="fas fa-check"></i></button>
      {{else}}
        <button data-toggle="tooltip" title="Click to add to the energy items that we use" class="btn btn-xs btnAddToUse btn-danger"><i class="fas fa-times"></i></button>
      {{/if}}
    </td>
  </tr>
</template>
