<template name="intents">
  <div class="panel panel-success">
    <div class="panel-heading">
      Energy
      <button class="btn btn-xs btn-info pull-right btnSaveEnergy">Save</button>
    </div>
    <div class="panel-body">
      <div class="form-group">
         <label for="energyIntent">Energy Usage Intent</label>
         <textarea class="form-control" id="energyIntent" rows="3"></textarea>
         <small id="energyIntentHelp" class="form-text text-muted">What is your overall intent with energy saving initiatives?</small>
       </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      Water
      <button class="btn btn-xs btn-info pull-right btnSaveWater">Save</button>
    </div>
    <div class="panel-body">
      <div class="form-group">
         <label for="waterIntent">Water Usage Intent</label>
         <textarea class="form-control" id="waterIntent" rows="3"></textarea>
         <small id="waterIntentHelp" class="form-text text-muted">What is your overall intent with water usage initiatives?</small>
       </div>
    </div>
  </div>

  <div class="panel panel-danger">
    <div class="panel-heading">
      Waste
      <button class="btn btn-xs btn-info pull-right btnSaveWaste">Save</button>
    </div>
    <div class="panel-body">
      <div class="form-group">
         <label for="wasteIntent">Waste Reduction Intent</label>
         <textarea class="form-control" id="wasteIntent" rows="3"></textarea>
         <small id="wasteIntentHelp" class="form-text text-muted">What is your overall intent with waste reduction initiatives?</small>
       </div>
    </div>
  </div>

</template>
