<template name="actionList">
  <div class="panel panel-success">
    <div class="panel-heading">
      Energy
    </div>
    <div class="panel-body">
        {{#if noEnergyQuestions }}
          <b>No active questions on Energy Usage</b>
        {{else}}
      <ul class="list-group">
          {{#each ecoEnergyQuestions}}
            {{> actionListItems}}
          {{/each}}
      </ul>
        {{/if}}

    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      Water
    </div>
    <div class="panel-body">
      {{#if noWaterQuestions }}
        <b>No active questions on Water Usage</b>
      {{else}}

      <ul class="list-group">
        {{#each ecoWaterQuestions}}
          {{> actionListItems}}
        {{/each}}
      </ul>

      {{/if}}
    </div>
  </div>

  <div class="panel panel-danger">
    <div class="panel-heading">
      Waste
    </div>
    <div class="panel-body">
      {{#if noWasteQuestions }}
        <b>No active questions on Waste Usage</b>
      {{else}}
      <ul class="list-group">
        {{#each ecoWasteQuestions}}
          {{> actionListItems}}
        {{/each}}
      </ul>
      {{/if}}
    </div>
  </div>

</template>
