<template name="planListItems">
  <li class="liItem list-group-item">
    <div class="row">
      <div class="col-sm-10">
        <div class="pull-left">{{questionText}}</div>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-xs {{isButtonYes}} btnYes">Yes</button>
        <button class="btn btn-xs {{isButtonNo}} btnNo">No</button>
      </div>
      <div class="col-sm-1">
        <span class="badge badge-info badge-pill pull-right">{{actionCount}}</span>
      </div>
    </div>
  </li>
  {{#if isExpanded}}
    {{> planItems}}
  {{/if}}
</template>
