<template name="planItemNew">
  <tr>
    <td class="col-sm-9">
      {{#if plannedPressed}}
        <b>{{actionText}}</b>
      {{else}}
        {{#if donePressed}}
          <b>{{actionText}}</b>
        {{else}}
          {{actionText}}
        {{/if}}
      {{/if}}

      {{#if noteRecording}}
        <p></p>
        <div class="col-sm-1">
          <label for="noteText" class="control-label">Note:</label>
        </div>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="noteText" name="noteText" />
        </div>
        <div class="col-sm-2">
          <button class="btn btn-xs btn-danger btnCancelSaveNote"><i class="fas fa-times"></i></button>
          <button class="btn btn-xs btn-success btnSaveNote"><i class="fas fa-check"></i></button>
        </div>
        {{#if hasNotes}}
        <p class="mb-1"><div class="label label-primary">Previous Notes</div></p>
        {{#each actionNotes}}
          {{> myActionNotes}}
        {{/each}}
        {{/if}}

      {{/if}}
    </td>
    <td class="col-sm-1">
      <div class="label {{currentStatusColour}}">{{currentStatus}}</div>
      {{#if isCompleteChecked}}

      {{/if}}
    </td>
    <td class="col-sm-2">

        {{#if hideActions}}
        <button class="btn btn-xs btn-primary btnPlan"><i class="far fa-clock"></i></button>
        <button class="btn btn-xs btn-success btnDone"><i class="fas fa-check"></i></button>
        <button class="btn btn-xs {{hasNote}} btnNote"><i class="far fa-sticky-note"></i></button>
        {{/if}}


        {{#if plannedPressed}}
          <div class="form-group {{isDateValid}}">
            <input type="date" name="planDate" class="form-control planDate" value="{{defaultDate}}" />
            <select id="plannedByUser" name="plannedByUser" class="form-control">
                {{#each staffList}}
                    <option value="{{_id}}">{{firstName}} {{lastName}}</option>
                {{/each}}
            </select>
          </div>
        {{/if}}

        {{#if donePressed}}
          <div class="form-group {{isDateValid}}">
            <input type="date" name="doneDate" class="form-control doneDate" value="{{defaultDoneDate}}" />
            <select id="doneByUser" name="doneByUser" class="form-control">
                {{#each staffList}}
                    <option value="{{_id}}">{{firstName}} {{lastName}}</option>
                {{/each}}
            </select>
          </div>
        {{/if}}

        {{#if donePressed}}
        <button class="btn btn-xs btn-warning btnDoneNote"><i class="far fa-sticky-note"></i></button>
        <button class="btn btn-xs btn-danger btnDoneCancel"><i class="fas fa-times"></i></button>
        <button class="btn btn-xs btn-success btnDoneSave"><i class="fas fa-check"></i></button>
        {{/if}}

        {{#if plannedPressed}}
        <button class="btn btn-xs btn-warning btnPlannedNote"><i class="far fa-sticky-note"></i></button>
        <button class="btn btn-xs btn-danger btnPlanCancel"><i class="fas fa-times"></i></button>
        <button class="btn btn-xs btn-success btnPlanSave"><i class="fas fa-check"></i></button>
        {{/if}}
    </td>
  </tr>
</template>
