<template name="dashboard">
  <section class="content-header">
    <h1>
      My Dashboard
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'dashboard'}}"><i class="fa fa-home"></i> Home</a></li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-7">
        <div class="box box-success">
          <div class="box-header">
            <div class="box-title">Actions by Status</div>
          </div>
          <div class="box-body">
            <canvas id="actionStatusChart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="box box-success">
          <div class="box-header">
            <div class="box-title">Recent Activity</div>
          </div>
          <div class="box-body">
            {{> timeline}}
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
