<template name="dashboard">
  <section class="content-header">
    <h1>
      My Dashboard
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'dashboard'}}"><i class="fa fa-home"></i> Home</a></li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
              
      <div class="col-xs-7">
        <div class="box box-success">
          <div class="box-header">
            <div class="box-title">Actions by Status</div>
            <button class="btn btn-xs btn-primary btnBarActions pull-right"><i class="far fa-chart-bar" data-fa-transform="rotate-90"></i></button>
            <button class="btn btn-xs btn-primary btnColumnActions pull-right"><i class="far fa-chart-bar"></i></button>
            <button class="btn btn-xs btn-primary btnPieActions pull-right"><i class="fas fa-chart-pie"></i></button>
          </div>
          <div class="box-body">
            {{> chartByStatus}}
          </div>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="box box-success">
          <div class="box-header">
            <div class="box-title">Recent Activity</div>
          </div>
          <div class="box-body">
            <div class="well pre-scrollable">
            {{> timeline}}
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
