<template name="dashboard">
  <section class="content-header">
    <h1>
      My Dashboard

    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'dashboard'}}"><i class="fa fa-home"></i> Home</a></li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-5">
        <div id="chart1" width="100%"></div>
      </div>
      <div class="col-xs-5">
        <div id="chart2" width="100%"></div>
      </div>

      <div class="col-xs-1">
      </div>
    </div>
  </section>
</template>
