<template name="eventItem">
<!--
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{userName}}</h5>
      <small class="text-muted">{{eventDateTime}}</small>
    </div>
    <p class="mb-1">{{eventText}}</p>
  </a>
-->

  <div class="item">
    {{#if isStaffOnly}}
    <i class="fas fa-user fa-2x"></i>
    {{else}}
    <img src="{{imagePath}}" alt="user image">
    {{/if}}

    <p class="message">
      <a href="#" class="name">
        <small class="text-muted pull-right"><i class="far fa-clock"></i> {{eventDateTime}}</small>
        {{userName}}
      </a>
      {{eventText}}
    </p>
  </div>


</template>
