<template name="staffList">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3>Staff</h3>
        <button class="btn btn-xs btn-primary btnAdd pull-right">Add</button>
<form>
        <div class="form-group">
        <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#if addingStaff}}
            <td><input class="form-control" type="text"  name="firstName" id="firstName" /></td>
            <td><input class="form-control" type="text" name="lastName" id="lastName" /></td>
            <td><input class="form-control" type="text" name="emailAddress" id="emailAddress" /></td>
            <td>
              <button class="btn btn-xs btn-success btnSaveAddStaff"><i class="fas fa-check"></i></button>
              <button class="btn btn-xs btn-danger btnCancelAddStaff"><i class="fas fa-times"></i></button>
            </td>
          {{else}}
          {{#each staffItems}}
            {{> staffItem}}
          {{/each}}
          {{/if}}
          </tbody>
        </table>
      </div>
    </form>
      </div>
    </div>
</template>
