<template name="sms">

  <section class="content-header">
    <h1>
      My Consumption
      <small>Information about our consumption of resources</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'dashboard'}}"><i class="fa fa-home"></i> Home</a></li>
      <li class="active">My Consumption</li>
    </ol>
  </section>

  <section class="content">
  <div class="row">
    <div class="{{detailShownSize}}">

      {{#if showEnergy}}
    <div class="box box-success">
      <div class="box-header with-border">
          <h3 class="box-title">Energy Usage</h3>
          <button class="btn btn-xs btn-info pull-right"><i class="fa fa-plus"></i> Add Usage</button>
      </div>

      {{#if hasEnergyBill}}

      <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Provider / Company</th>
          <th scope="col">Usage Period</th>
        </tr>
      </thead>
      <tbody>
        {{#each myEnergyBills}}
          {{> billEntry}}
        {{/each}}
        </tbody>
      </table>
      {{else}}
      <p></p>
      <b>No Energy Usage recorded</b>
      {{/if}}

    </div>
{{/if}}

  {{#if showWater}}
    <div class="box box-primary">
      <div class="box-header with-border">
          <h3 class="box-title">Water Usage</h3>
          <button class="btn btn-xs btn-info pull-right"><i class="fa fa-plus"></i> Add Usage</button>

          {{#if hasWaterBill}}
          <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Provider / Company</th>
              <th scope="col">Usage Period</th>
            </tr>
          </thead>
          <tbody>
            {{#each myWaterBills}}
              {{> billEntry}}
            {{/each}}
            </tbody>
          </table>
          {{else}}
          <p></p>
          <b>No Water Usage recorded</b>
          {{/if}}

      </div>
        </div>
        {{/if}}

        {{#if showWaste}}
        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">Waste</h3>
            <button class="btn btn-xs btn-info pull-right"><i class="fa fa-plus"></i> Add Usage</button>

            {{#if hasWasteBill}}
            <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Provider / Company</th>
                <th scope="col">Usage Period</th>
              </tr>
            </thead>
            <tbody>
              {{#each myWasteBills}}
                {{> billEntry}}
              {{/each}}
              </tbody>
            </table>
            {{else}}
            <p></p>
            <b>No Waste recorded</b>
            {{/if}}

          </div>
        </div>

        {{/if}}
</div>

  {{#if detailShown}}
  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        Overview
        {{#if isEdit}}
        <button class="btn btn-xs btn-danger pull-right btnCancelBill">Cancel</button>
        <button class="btn btn-xs btn-success pull-right btnSaveBill">Save</button>
        {{else}}
        <button class="btn btn-xs btn-primary pull-right btnEditBill">Edit</button>
        {{/if}}
      </div>
        <div class="panel-body">
          {{#each selectedBill}}
            {{> billHeader}}
          {{/each}}
        </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        Details
      </div>
        <div class="panel-body">
          {{#each selectedBill}}
            {{> billDetails}}
          {{/each}}
        </div>
    </div>

  </div>
  {{/if}}
</div>
</section>
</template>
