<template name="billHeader">
  <form>
  <fieldset>
    <legend>Bill</legend>
    <div class="form-group">
      <label for="billDate" class="col-form-label"><b>Date on Bill</b></label>
      {{#if isEditable}}
        <input type="text" class="form-control-plaintext" id="billDate" value="{{dateOnBill}}">
        {{else}}
        <input type="text" class="form-control-plaintext" id="billDateRO" value="{{dateOnBill}}" readonly="">
        {{/if}}
    </div>
    <div class="form-group">
      <label for="billType"><b>Type</b></label>
      {{#if isEditable}}
        <input type="text" class="form-control-plaintext" id="billType" value="{{billType}}">
        {{else}}
        <input type="text" class="form-control-plaintext" id="billTypeRO" value="{{billType}}" readonly="">
        {{/if}}
    </div>

    <div class="form-group">
      <label for="billVendor"><b>Provider / Company</b></label>
            {{#if isEditable}}
        <input type="text" class="form-control-plaintext" id="billVendor" value="{{billVendor}}">
        {{else}}
                <input type="text" class="form-control-plaintext" id="billVendorRO" value="{{billVendor}}" readonly="">
        {{/if}}
    </div>

    <div class="form-group">
      <label for="billStart"><b>Start Date</b></label>
      {{#if isEditable}}
        <input type="text" class="form-control-plaintext" id="billStart" value="{{billStart}}">
        {{else}}
                <input type="text" class="form-control-plaintext" id="billStartRO" value="{{billStart}}" readonly="">
        {{/if}}
    </div>

    <div class="form-group">
      <label for="billEnd"><b>End Date</b></label>
        {{#if isEditable}}
        <input type="text" class="form-control-plaintext" id="billEnd" value="{{billEnd}}">
        {{else}}
        <input type="text" class="form-control-plaintext" id="billEndRO" value="{{billEnd}}" readonly="">
        {{/if}}
    </div>
  </fieldset>
</form>
</template>
