<template name="smsEntry">
  <section class="content-header">
    <h1>
      {{#if isEditing}}
      Editing Usage
      {{else}}
      New Usage
      {{/if}}
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'dashboard'}}"><i class="fa fa-home"></i> Home</a></li>
      <li class="active">Usage</li>
    </ol>
  </section>

  <section class="content">
    <div class="box box-success">
      <div class="box-header with-border">
        <button class="btn btn-sm btn-primary pull-right btnSaveEntry">Save</button>
        <button class="btn btn-sm btn-danger pull-right btnSaveCancel">Cancel</button>

        <div class="modal modal-danger" tabindex="-1" role="dialog" id="areyousureModel" name="areyousureModel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete Entry - Are you sure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this entry?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger btnDeleteEntry" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>

        {{#if isEditing}}
          <button class="btn btn-sm btn-danger pull-right" data-toggle="modal" data-target="#areyousureModel">Delete</button>
        {{/if}}
      </div>

      {{#if hasErrors}}
        <div class="alert alert-danger" role="alert">
          <h4>Errors</h4>
          {{{errorText}}}
          <p></p>
        </div>
      {{/if}}

      <form name="smsEntryForm" id="smsEntryForm" data-parsley-validate>
          <div class="form-group">
            <label>Usage Type</label>
            <select id="energyUsageType" name="energyUsageType" class="form-control" data-parsley-required>
              <option disabled="" selected="">SELECT ONE</option>
                {{#each energyType}}
                    <option value="{{_id}}">{{categoryCode}}</option>
                {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label>Location Name / Vehicle Identity
            </label>
            {{#if addLocation}}
            <div class="row">
              <div class="col-xs-10">
                <input class="form-control" type="text" name="locationName" />
              </div>

              <div class="col-xs-2">
                <button class="btn btn-xs btn-success btnSaveLocation"><i class="fas fa-check"></i></button>
                <button class="btn btn-xs btn-danger btnCancelSaveLocation"><i class="fas fa-times"></i></button>
              </div>
            </div>
            {{else}}
            <div class="row">
              <div class="col-xs-10">
              {{addedLocation}}
                <select id="location" name="location" class="form-control" data-parsley-required>
                  <option disabled="" selected="">SELECT ONE</option>
                  {{#each locationItems}}
                      <option value="{{_id}}">{{description}}</option>
                  {{/each}}
              </select>

            </div>
            <div class="col-xs-2">
              <button class="btn btn-xs btn-primary btnAddLocation"><i class="fas fa-plus"></i></button>
            </div>
          </div>
            {{/if}}
          </div>

{{energyUsageType}}

          <div class="form-group">
            <label>Provider
            </label>
            {{#if addProvider}}
            <div class="row">
              <div class="col-xs-10">
                <input class="form-control" type="text" name="providerName" />
              </div>

              <div class="col-xs-2">
                <button class="btn btn-xs btn-success btnSaveProvider"><i class="fas fa-check"></i></button>
                <button class="btn btn-xs btn-danger btnCancelSaveProvider"><i class="fas fa-times"></i></button>
              </div>
            </div>
            {{else}}
            <div class="row">
              <div class="col-xs-10">
            <select id="vendor" name="vendor" class="form-control" data-parsley-required>
              <option disabled="" selected="">SELECT ONE</option>
                {{#each vendor}}
                    <option value="{{code}}">{{description}}</option>
                {{/each}}
            </select>
          </div>
          <div class="col-xs-2">
            <button class="btn btn-xs btn-primary btnAddProvider"><i class="fas fa-plus"></i></button>
          </div>
        </div>
            {{/if}}
          </div>


          {{#if hasStartDateField}}
          <div class="col-sm-6">
            <label>Start Date</label>
            <input class="form-control" type="date" name="startDate" id="startDate" value="{{startDate}}" max="{{validStartDate}}"/>
          </div>
          {{/if}}

          {{#if hasEndDateField}}
          <div class="col-sm-6">

            <div name="fg-endDate" class="form-group">
              <label>{{#if hasStartDate}}End Date{{else}}Date{{/if}}</label>
              <input class="form-control" type="date" name="endDate" id="endDate" value="{{endDate}}" max="{{validEndDate}}"/>
              <span class="help-block hidden" name="helpText">Invalid Date - needs to be in the past</span>
            </div>

          </div>
          {{/if}}
        </form>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="col-sm-3">Energy Type <button class="btn btn-xs btn-primary btnAddEnergyType"><i class="fas fa-plus"></i></button></th>
                <th class="col-sm-2">Usage Type <button class="btn btn-xs btn-primary btnAddUsageType"><i class="fas fa-plus"></i></button></th>
                <th class="col-sm-1">Usage</th>
{{#if hasTariffType}}
                <th class="col-sm-2">Tariff Type <button class="btn btn-xs btn-primary btnAddTariffType"><i class="fas fa-plus"></i></button>
                </th>
{{/if}}
{{#if hasField1}}
                <th class="col-sm-1">{{field1Name}}</th>
{{/if}}
                <th class="col-sm-2">Unit Cost</th>
                <th class="col-sm-2">Total Cost</th>
              </tr>
            </thead>
            <tbody>
              {{#each lineItem}}
                <tr>
                    <td>
                      <div class="hidden">{{_id}}</div>
                      {{energyTypeDesc}}
                    </td>
                    <td>
                      {{usageTypeDesc}}
                    </td>
                    <td>
                      {{usage}}
                    </td>
                    {{#if hasTariffType}}
                    <td>
                      {{tariffTypeDesc}}
                    </td>
                    {{/if}}
                    <td>
                      {{tariffCost}}
                    </td>
                    <td>
                      {{totalCost}}
                    </td>
                    <td>
                      <button class="btn btn-xs btn-danger btnRemove"><i class="fas fa-minus"></i></button>
                    </td>
                </tr>
              {{/each}}
              <tr>
              <td>
                <select id="energyType" name="energyType" class="form-control">
                    {{#each energyTypeItem}}
                        <option value="{{code}}">{{description}}</option>
                    {{/each}}
                </select>

              </td>
              <td>
                <select id="usageType" name="usageType" class="form-control">
                    {{#each usageTypeItem}}
                        <option value="{{code}}">{{description}}</option>
                    {{/each}}
                </select>
              </td>
              <td>
                <input class="form-control" type="text" name="usage" id="usage" />
              </td>
              {{#if hasTariffType}}
              <td>
                <select id="tariffType" name="tariffType" class="form-control">
                    {{#each tariffTypeItem}}
                        <option value="{{code}}">{{description}}</option>
                    {{/each}}
                </select>
              </td>
              {{/if}}
              <td>
                <input class="form-control" type="text" name="tariffCost" id="tariffCost" />
              </td>
              <td>
                {{totalCostEdit}}
              </td>
              <td>
                <button class="btn btn-xs btn-primary btnSaveRow"><i class="fas fa-plus"></i></button>
              </td>
              </tr>
            </tbody>
          </table>

      </div>
  </section>
</template>
