<template name="billDetails">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Qty</th>
        <th>Unit</th>
        <th>Price</th>
        <th align="center">Sustainable</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each billLine}}
        {{> billLineDetail}}
      {{/each}}

      {{#if isEditing}}
        <tr>
          <td>
            <input type="text" class="form-control-plaintext" id="newItemDescription" value="">
          </td>

          <td>
            <input type="text" class="form-control-plaintext" id="newItemQuantity" value="">
          </td>

          <td>
            <input type="text" class="form-control-plaintext" id="newItemUOM" value="">
          </td>

          <td>
            <input type="text" class="form-control-plaintext" id="newItemPrice" value="">
          </td>

          <td>
            <input type="text" class="form-control-plaintext" id="newItemSustainable" value="">
          </td>

          <td>
            <button class="btn btn-xs btn-success"><i class="fa fa-check"></i></button>
            <button class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</template>
